<h1>Regulation Pad Check</h1>
<h3>Enter pad dimensions to see if they're within regs</h3>

<form action="/pads">
  <div class="form-group">
    <label for="width">Width</label>
      <input id="width" name="width" class="form-control" type="text">
  </div>

  <div class="form-group">
    <label for="length">Length</label>
      <input id="length" name="length" class="form-control" type="text">
  </div>

<button type="submit" class="btn">Go!</button>
</form>
