<h3>Your pads are $myGoalPads.getWidth() wide, and $myGoalPads.getLength() long</h3>

#if ($myGoalPads.isRegulation())

  <h4>Your pads are regulation</h4>

  #else
  <h4>Your pads are not regulation</h4>
  #end
